@media (min-width: 1300px) {
    .mini-drawer-container {
        display: flex;
    }
    .mini-drawer-arrow-down-icon {
        font-size: 150%;
        color: red;
        font-weight: bold;
    }
}

@media (max-width: 1300px) {
    .mini-drawer-container {
        display: none;
    }
}
