.categories-title {
    font-size: 25px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    padding-top: 20%;
}

.categories-picture {
    height: 120px;
    width: 200px;
}

/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) */