@media (min-width: 1300px) {
    .new-this-week-section {
        font-size: 30px;
        padding-left: 80px;
        padding-top: 30px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .new-this-week-picture {
        height: 120px;
        width: 200px;
    }

    .new-this-week-grid {
        padding-left: 80px;
    }
}

@media (max-width: 1300px) {
    .new-this-week-section {
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .new-this-week-picture {
        height: 120px;
        width: 200px;
    }

    .new-this-week-grid {
        align-items: center;
        flex-direction: column;
    }
}

.new-this-week-hoverable-div:hover {
    cursor: pointer;
    filter: grayscale(40%);
    transform: scale(1.1);
}